<div class="app-container" *ngIf="isAuthenticated">
  <mat-toolbar color="primary" class="app-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="app-title">{{ title }}</span>
    <span class="spacer"></span>
    
    <button mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon>account_circle</mat-icon>
    </button>
    
    <mat-menu #userMenu="matMenu">
      <div class="user-info" mat-menu-item disabled>
        <div *ngIf="currentUser$ | async as user">
          <strong>{{ user.firstName }} {{ user.lastName }}</strong>
          <br>
          <small>{{ user.email }}</small>
          <br>
          <mat-chip class="role-chip">{{ user.role }}</mat-chip>
        </div>
      </div>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()" data-testid="logout-button">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="sidenavOpened" class="sidenav">
      <mat-nav-list>
        <a mat-list-item routerLink="/dashboard" routerLinkActive="active-link" (click)="closeSidenavOnMobile()">
          <mat-icon matListItemIcon>dashboard</mat-icon>
          <span matListItemTitle>Dashboard</span>
        </a>
        
        <a mat-list-item routerLink="/chat" routerLinkActive="active-link" (click)="closeSidenavOnMobile()">
          <mat-icon matListItemIcon>chat</mat-icon>
          <span matListItemTitle>Chat</span>
        </a>
        
        <a mat-list-item routerLink="/admin" routerLinkActive="active-link" *ngIf="authService.isAdmin()" (click)="closeSidenavOnMobile()">
          <mat-icon matListItemIcon>admin_panel_settings</mat-icon>
          <span matListItemTitle>Admin</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="main-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

<div *ngIf="!isAuthenticated">
  <router-outlet></router-outlet>
</div>
